# Managed by ansible

myhostname = {{ postfix_myhostname }}
mydomain = {{ postfix_mydomain }}
myorigin = {{ postfix_myorigin }}

mail_owner = postfix
append_at_myorigin = yes
append_dot_mydomain = yes

# メールサーバー自身に配送されたとみなすドメインのリスト
mydestination = {{ postfix_mydestination }}

# メール受信を許可するアドレス
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}

# メールのリレー（転送）を許可するネットワーク
mynetworks = {{ postfix_mynetworks }}

# Maildir形式として保存するディレクトリをユーザー毎に作成する
home_mailbox = Maildir/

unknown_local_recipient_reject_code = 550

queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix

# ALIAS DATABASE
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

# 知らないローカルユーザーは拒否する
local_recipient_maps = $alias_maps

debug_peer_level = 2
debugger_command =
	 PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
	 ddd $daemon_directory/$process_name $process_id & sleep 5

sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
sample_directory = /usr/share/doc/postfix-2.10.1/samples
readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES

# hostsとDNSを参照
smtp_host_lookup = native

########## TLS/SSL関連 ##########

# リレー設定
smtpd_recipient_restrictions = 	{{ postfix_smtpd_recipient_restrictions }}
{% if postfix_relay_domains %}
relay_domains = {{ postfix_relay_domains }}
{% endif %}
{% if postfix_relayhost %}
relayhost = {{ postfix_relayhost }}
{% endif %}

smtp_use_tls = yes
smtp_tls_CApath = /etc/pki/tls/certs/ca-bundle.crt
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sasl_tls_security_options = noanonymous
smtp_sasl_mechanism_filter = plain

# 受信メールサイズを10Mに制限
message_size_limit = 10485760

# Specify the execution user at the time of receiving the e-mail.
default_privs = {{ postfix_default_privs }}
